.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: auto;
  overflow-x: hidden;
  flex-direction: column;
  padding-bottom: 20px;
}

.container-1 {
  display: flex;
  align-items: center;
  width: 70%;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 18px;
}

.container-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 97%;
  padding: 10px 10px;
}

.container-3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 410px;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 18px;
}

.container-compact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 840px;
  padding: 0 10px;
}


.like-dislike-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
}

.title-main {
  margin-top: 30px;
  font-family: Calibri, sans-serif;
  text-align: center;
  font-size: 50px;
}

.title {
  font-family: Calibri , sans-serif;
  text-align: left;
  font-size: 25px;
}

.title-compact {
  font-family: Calibri, sans-serif;
  text-align: left;
  font-size: 20px;
}

.text {
  font-size: 20px;
  font-family: Calibri, sans-serif;
  width: 100%;
}

.input-container {
  flex-direction: row;
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.input-field {
  padding-left: 40px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 780px;
}

.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  margin:  auto;
  height: 20px;
  color: #757575;
}

.image-main {
  height: 400px;
  margin: 40px auto 15px;
}

.image-second {
  width: 300px;
  margin: 20px auto 1px;
}

.image-three {
  height: 300px;
  margin: 40px auto 15px;
}

.like-button, .dislike-button {
  background: none;
  border: none;
  cursor: pointer;
  height: 20px;
}

.like-button:focus, .dislike-button:focus {
  outline: none;
}

.like-icon, .dislike-icon {
  width: 20px;
}

.container-button {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 97%;
  margin-bottom: 15px;
}

.button {
  border-radius: 15px;
  height: 30px;
  width: 130px;
  cursor: pointer;
}

.button:hover {
  background-color: #FFDE6B;
}

.button-inline {
  display: flex;
  align-items: center;
  gap: 3px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
}

.shadow {
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);
}

p {
  padding: 0 10px;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}