.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: auto;
  overflow-x: hidden;
  flex-direction: column;
  /*border: red 2px solid;*/

}

.container-1 {
  display: flex;
  align-items: center;
  width: 90%;
  flex-direction: column;
}

.container-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*margin: 20px auto;*/
  width: 90%;
}

.like-dislike-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}
.title {
  margin-top: 30px;
  font-family: Calibri, serif;
  text-align: center;
  font-size: 50px;
}

.title-little {
  font-family: Calibri, serif;
  text-align: left;
  font-size: 25px;
}

.input-container {
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.input-field {
  padding-left: 40px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 830px;
}

.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  margin:  auto;
  height: 20px;
  color: #757575;
}

.image-main {
  height: 400px;
  margin: 40px auto 15px;

}
.like-button, .dislike-button {
  background: none;
  border: none;
  cursor: pointer;
  height: 20px;
}

.like-button:focus, .dislike-button:focus {
  outline: none;
}

.like-icon, .dislike-icon {
  height: 20px;
}